<section *ngIf="products.length>0">
    <h3>All Products</h3>
   <div class="row g-4">
    <div *ngFor="let product of products " class="col-sm-6 col-md-4 col-lg-3 col-xl-2 h-100">
        <div role="button" class="product">
      <header [routerLink]="['/details',product._id]">
        <img [src]="product.imageCover" class="w-100"  [alt]="product.title" [title]="product.title">
        <h3 class="h6 small">{{product.title |cuttext:2}}</h3>
        <h4 class="h6">{{product.category.name}}</h4>
        <div class="d-flex justify-content-between align-items-center small">
            <span>{{product.price |currency:"E£"}}</span>
            <span>
                <i class="fas fa-star rating-color"></i>
                {{product.ratingsAverage}}
            </span>

        </div>
      </header>
      <footer>
        <button (click)="addproduct(product._id, addbtn)" #addbtn class="main-btn w-100">Add To Product</button>
      </footer>
        </div>

    </div>

   </div>

</section>

