<section class="w-75 mx-auto rounded shadow bg-main-light mb-4" *ngIf="cart">
 <div class="d-flex justify-content-between align-items-center">
  <h1 class="h4">shop cart</h1>
  <button (click)="clear()" class="btn btn-sm btn-outline-danger">Clear All</button>
 </div>
 <p>total price:{{cart.data.totalCartPrice}}</p>
 <div class="row border-bottom py-2" *ngFor="let item of cart.data.products">
<div class="col-md-1">
 <img [src]="item.product.imageCover" class="w-100" [alt]="item.product.title">
</div>
<div class="col-md-11 d-flex justify-content-between align-items-center">
  <div>
    <h3 class="h6 mb-0">{{item.product.title}}</h3>
    <P class="text-main small mb-0">price:{{item.price}}EGP</P>
    <button (click)="removeitem(item.product._id)" class="btn m-0 p-0 text-main"><i class="fa-regular fa-trash-can"></i> remove</button>
  </div>
  <div>
    <button (click)="changecount(item.count + 1,item.product._id)" class="btn btn-sm border-success">+</button>
    <span class="mx-1">{{item.count}}</span>
    <button (click)="changecount(item.count - 1,item.product._id)" class="btn btn-sm border-success">-</button>
  </div>
</div>
 </div>
 <button [routerLink]="['/payment',cart.data._id]" routerLinkActive="router-link-active"  class="main-btn mt-3">
  online payment <img src="../../../assets/images/visa-1.svg" alt="visa logo">
 </button>
</section>
<ng-template #name>
  <h2 class="text-center">your cart is empty</h2>
</ng-template>


