<section class="w-75 mx-auto">
    <div class="row align-items-center g-4">
        <div class="col-md-3">
            <owl-carousel-o [options]="productdetail">

                <ng-container *ngFor="let slide of productdata.images">
                  <ng-template carouselSlide >
                    <img [src]="slide" class="w-100" >
                  </ng-template>
                </ng-container>
            
              </owl-carousel-o>
        </div>
        <div class="col-md-9">
            <div>
                <h3 class="h6">{{productdata.title}}</h3>
                <p class="text-muted small">{{productdata.description}}</p>
                <Span>{{productdata.category.name}}</Span>
                <div class="d-flex justify-content-between align-items-center">
                    <span>{{productdata.price |currency:"E£"}}</span>
                    <p>
                        <i class="fas fa-star rating-color"></i>
                        {{productdata.ratingsAverage}}
                    </p>
        
                </div>
                <button (click)="addproduct(productdata._id, addbtn)" #addbtn class="main-btn w-100">Add To Product</button>
            </div>
        </div>
    </div>
</section>
